@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@270;395;591&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
body {
    background: #f0f0f0;
    font-size: 1em;
    line-height: 1.8em;
    background: url('images/background.png') #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0.85em;
}

.main-wrapper,
header,
footer,
nav {
    clear: both;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    width: 80%;
    font-family: 'Dosis', sans-serif;
}

footer a {
    color: rgb(179, 179, 179);
}

footer b {
    font-size: 1.2em;
    font-variant: small-caps;
}

header {
    background: #4af;
    color: #fff;
    background: -webkit-linear-gradient(top, #4af 60%, rgb(0, 125, 228) 100%);
    background: -moz-linear-gradient(top, #4af 60%, rgb(0, 125, 228) 100%);
    background: -o-linear-gradient(top, #4af 60%, rgb(0, 125, 228) 100%);
    background: linear-gradient(top, #4af 60%, rgb(0, 125, 228) 100%);
}

.main-wrapper {
    background: #fff;
}

footer {
    background: #444;
    color: #fff;
}

main {
    float: left;
    width: 65%;
    padding: 10px;
    background: #fff;
}

section {
    padding: 10px;
    margin: 10px;
    background: #9ae8ff;
}

aside {
    float: right;
    width: 30%;
}

.siteNav {
    padding: 0;
    margin: 0;
    /*
    position: fixed;
    margin-right: 27%;
    margin-top: 440px;
    */
}

#basket {
    padding: 10px;
    width: 200px;
    margin: 0 70px;
    background: rgba(255, 255, 0, 0.6);
    border: 3px solid rgb(30, 154, 255);
    border-radius: 30px;
    font-size: 1.5em;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-style: italic;
    color: #ff0;
    padding: 1em;
    margin: 0 2em;
    background: url('images/logo.png') no-repeat;
    background-position: right;
    text-shadow: 5px 5px 5px rgba(223, 230, 255, 0.7);
}

h1 span {
    font-weight: normal;
    font-size: 0.7em;
    vertical-align: super;
}

h2 {
    font-size: 1.8em;
    font-style: oblique;
    text-shadow: 2px 2px 2px rgba(223, 230, 255, 0.7);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

img {
    width: 500px;
}

time {
    font-size: 0.9em;
    font-weight: normal;
}

blockquote cite {
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.price {
    font-size: 1.1em;
    word-spacing: 0.1em;
}

.tags span {
    font-size: 0.9em;
    word-spacing: 0.2em;
    letter-spacing: 0.2em;
}

#quotes {
    background-color: rgb(236, 236, 236);
    float: right;
    font-family: 'Krona One', sans-serif;
    font-size: 0.8em;
    line-height: 30px;
    text-indent: 0.5em;
    margin-top: 2em;
    padding: 1em 0;
    text-align: justify;
}

q {
    padding: 15px;
}

#watchList figcaption {
    color: rgb(170, 145, 0);
    font-size: 1.6em;
}

.product {
    display: inline-table;
    height: 650px;
    width: 300px;
    padding: 2em 1em;
    margin: 5px;
}

.product img {
    height: 250px;
    width: 250px;
}

.policeWatch figcaption,
.g-shockWatch figcaption {
    color: #ffa500 !important;
    font-weight: bold;
    font-size: 1.6em;
}

input,
textarea {
    color: #999;
}

div article figure {}

span+a[target="_blanks"] {}

#google-map {
    background: rgb(214, 214, 214);
    padding: 1em;
    margin-top: 1em;
    border: 1.5px solid grey;
    border-radius: 0.3em 1.5em;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.3);
}

#google-map img:first-of-type {
    width: 360px;
}

textarea,
input[type="text"],
input[type="date"],
input[type="submit"] {
    border: 1.5px solid rgba(68, 170, 255, 0.7);
}

article#watchesInfo>img {}

header nav ul>li>a {
    font-family: 'Krona One', sans-serif;
    color: rgb(126, 126, 126);
    padding: 1.5em;
    margin-left: 3.5em;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li {
    display: inline;
    margin-left: 0;
}

header nav ul li:first-child>a {
    margin-left: 0px;
}

ul>li>a:hover {
    color: rgb(4, 0, 65);
    text-decoration: underline;
    background: gold;
    border: 4px solid gray;
    border-radius: 15px;
}

ul>li>a:active {
    color: rgb(125, 116, 255);
}

#shiping ol li:nth-child(4) a {
    color: #999;
}

#terms {
    clear: both;
    float: left;
}

.leftFooter {
    float: left;
    margin-top: 0.4em;
}

.rightFooter {
    float: right;
}

.rightFooter input,
.rightFooter textarea {
    border: 2px solid rgb(36, 36, 36);
    border-radius: 10px;
}

.aboutWatches {
    position: relative;
}

a[href="#top"] {
    position: absolute;
    bottom: 0px;
    right: 20px;
}